<div class="container" style="margin: 100px 0">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar el consejo</h4>
            <form action="/admin/consejos/modificar" method="post">
                <input type="hidden" value="{{consejo.id}}" name="id">
                <div class="form-group">
                    {{!-- <label for="">Titulo</label> --}}
                    <input type="text" placeholder="Titulo" class="form-control" name="titulo" value="{{consejo.titulo}}">
                </div>
                <div class="form-group">
                    {{!-- <label for="">Subtitulo</label> --}}
                    <textarea placeholder="Subtitulo" class="form-control" name="subtitulo">{{consejo.subtitulo}}</textarea>
                </div>
                <div class="form-group">
                    <textarea placeholder="Cuerpo" class="form-control" name="cuerpo">{{consejo.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>