<!-- INICIO 1ER PÁGINA: BANNER -->
<section class="banner" id="inicio">
    <div class="content">
        <h1>Granel de Sabores</h1>
        <p>De la tierra, a tu mesa</p>
    </div>
</section>
<!-- FIN 1ER PÁGINA -->




<!-- INICIO 2DA PÁGINA: PRODUCTOS -->
<div class="container-2" id="productos">
    <div class="contenedor-productos">
        <h2>Productos</h2>
    </div>

    <a href="/cereales">
        <div class="image">
            <img src="images/cereales.jpg" alt="Cereales">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Cereales</i>
        </div>
    </a>

    <a href="/especias">
        <div class="image">
            <img src="images/especias.jpg" alt="Especias">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Especias</i>
        </div>
    </a>

    <a href="/frutos-secos">
        <div class="image">
            <img src="images/frutos-secos.jpg" alt="Frutos Secos">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Frutos Secos</i>
        </div>
    </a>

    <a href="/harinas">
        <div class="image">
            <img src="images/harinas.jpg" alt="Harinas">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Harinas</i>
        </div>
    </a>

    <a href="/legumbres">
        <div class="image">
            <img src="images/legumbres.jpg" alt="Legumbres">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Legumbres</i>
        </div>
    </a>

    <a href="/semillas">
        <div class="image">
            <img src="images/semillas.jpg" alt="Semillas">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Semillas</i>
        </div>
    </a>

    <a href="/bebidas-veg">
        <div class="image">
            <img src="images/leches.jpg" alt="Bebidas Vegetales">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Bebidas Vegetales</i>
        </div>
    </a>

    <a href="/organicos">
        <div class="image">
            <img src="images/orgánicos.jpg" alt="Orgánicos">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Orgánicos</i>
        </div>
    </a>

    <a href="/aceites">
        <div class="image">
            <img src="images/aceites.jpg" alt="Aceites">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Aceites</i>
        </div>
    </a>
</div>
<!-- FIN 2DA PÁGINA -->





<!-- INICIO 3ER PÁGINA: UN POCO SOBRE MI -->
<section class="main-section" id="conoceme">
    <h2>Un poco sobre mi...</h2>

    <div class="container">
        <div class="col-lg-5 col-md-12">
            <div class="box">
                <h3>Estefanía Zakovicz</h3>
                <h4>Licenciada en Nutrición</h4>
                <h4>Instructora de Elongación y Postura</h4>

                <div class="second-section">
                    <img class="imagen-conoceme" src="images/miFoto.jpeg" alt="Tu foto">
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-md-12">
            <p>Si te gusta comer de manera saludable, <br>esta página es para vos! <br>
                Estudié la carrera de Nutrición porque quería entender cómo debería ser una
                alimentación variada, nutritiva y bien elaborada. Y por supuesto que te lo quiero enseñar! <br> Aquí
                vas a encontrar productos
                que sí o sí recomiendo tenerlos en casa. Además, hay una sección de recetas para que pruebes
                distintos
                sabores y texturas. Y más abajo, una sección de ejemplos de reemplazos de otros alimentos. Espero te
                guste,
                y cualquier comentario que quieras dejarme, será bienvenido en el formulario que está al final de la
                página. ¡Gracias por tu visita!
            </p>
        </div>
    </div>
</section>
<!-- FIN 3ER PÁGINA-->




<!-- INICIO 4TA PÁGINA: RECETAS-->
<div class="contenedor-recetas" id="recetas">
    <div class="recetas">
        <h2>Recetas</h2>
    </div>
</div>

<div class="recetas-carousel">
    <a href="/barritas">
        <div class="receta-item active">
            <img class="receta-img" src="images/barritas.jpg" alt="Receta Barritas">
            <div class="receta-titulo">Barritas</div>
        </div>
    </a>

    <a href="/fajitas">
        <div class="receta-item">
            <img class="receta-img" src="images/fajitas.jpg" alt="Receta Fajitas">
            <div class="receta-titulo">Fajitas</div>
        </div>
    </a>

    <a href="/hummus">
        <div class="receta-item">
            <img class="receta-img" src="images/hummus.jpg" alt="Receta Hummus">
            <div class="receta-titulo">Hummus</div>
        </div>
    </a>

    <a href="/tepache">
        <div class="receta-item">
            <img class="receta-img" src="images/tepache.jpg" alt="Receta Tepache">
            <div class="receta-titulo">Tepache</div>
        </div>
    </a>

    <a href="/bebidas">
        <div class="receta-item">
            <img class="receta-img" src="images/leches.jpg" alt="Receta Bebidas">
            <div class="receta-titulo">Bebidas</div>
        </div>
    </a>

    <a href="/pan">
        <div class="receta-item">
            <img class="receta-img" src="images/pan.jpg" alt="Receta Pan">
            <div class="receta-titulo">Pan</div>
        </div>
    </a>
</div>


<!-- FIN 4TA PÁGINA -->




<!-- INICIO 5TA PÁGINA: CONSEJOS NUTRICIONALES -->
<div class="consejos-nutricionales" id="consejos-nut">
    <h2>Consejos Nutricionales</h2>
</div>

<div class="consejos">
        <div class="consejos-1" id="consejos">
            <h3>Reemplazos</h3>
            <h3>del huevo</h3>
             {{#each consejos}}
            <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{id}}">
            <img src="/images/reemplazo-huevo.png">{{titulo}}</a>
            {{/each}}
        </div>
      
        <div class="consejos-2">
            <h3>Reemplazos</h3>
            <h3>de carne animal</h3>
            <img src="/images/reemplazo-carne.jpg" alt="Reemplazos de carne animal">
        </div>

        
        <div class="consejos-3">
            <h3>Reemplazos</h3>
            <h3>de queso animal</h3>
            <img src="/images/reemplazo-queso.jpg" alt="Reemplazos de queso animal">
        </div>
    </div>
<!-- FIN 5TA PÁGINA -->

{{#each consejos}}
<div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{titulo}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
</button>
            </div>
            <div class="modal-body">
                <h4>{{subtitulo}}</h4>
                <p>{{cuerpo}}</p>
            </div>
        </div>
    </div>
{{/each}}
</div>




<!--INICIO 6TA PÁGINA: Mapa y Formulario-->
<div class="contenedor-7" id="contacto">

    <div class="iframe">
        <h2>Contacto</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14173.647003683816!2d-55.902453699999995!3d-27.362853449999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9457bf8ae49856c1%3A0x5cb18155257d9c95!2sMonumento%20a%20Andresito%20Guacurar%C3%AD!5e0!3m2!1ses-419!2sar!4v1683073516040!5m2!1ses-419!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" frameborder="0" frameborder="0"></iframe>
    </div>

    <div class="contact-form">
        <form action="/" method="post">
            <h3 class="title">Para más información, inquietud o sugerencias, completá el siguiente formulario:
            </h3>
            <div class="input-container">
                <input type="text" name="nombre" class="input" id="nombre" />
                <label for="nombre">Nombre</label>
                <span>Nombre</span>
            </div>
            <div class="input-container">
                <input type="email" name="email" class="input" id="email" />
                <label for="email">Email</label>
                <span>Email</span>
            </div>
            <div class="input-container">
                <input type="tel" name="telefono" class="input" id="telefono" />
                <label for="telefono">Teléfono</label>
                <span>Teléfono</span>
            </div>
            <div class="input-container textarea">
                <textarea name="mensaje" class="input" id="mesaje"></textarea>
                <label for="mensaje">Mensaje</label>
                <span>Mensaje</span>
            </div>
            <input type="submit" value="Enviar" class="boton" />
            <p>{{message}}</p>
        </form>

    </div>
</div>
<!-- FIN 6TA PÁGINA -->